* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "variable";
body {
    font-family: $font-pop;
    font-size: 10px;
    font-weight: lighter;
}

//Globaal
h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: $font-mon;
    color: $h-color;
}

.text {
    font-size: 1.5em;
    line-height: 1.9rem;
    color: $text-color;
}

.button {
    @include button;
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
}


/*-----------------------------------------------------------------------------*/

//navbar
.navbar {
    transition: all .3s;
}

.navbar-light{
    background-color:$sec-bg-color;
}

//scroll bg change
.bg-change {
    background: #e6e6e6 ;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    z-index: 1020;
}

//Logo
.navbar-light .navbar-brand {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    color: $h-color;
}

//Navbar-toggleer
.navbar-light .navbar-toggler {
    border: none;
}

button:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 0px;
    margin: 10px;
    &:after {
        content: "";
        position: absolute;
        top: 11px;
        left: 0px;
        width: 0%;
        height: 2px;
        background: $text-color;
        transition: all .5s ease;
    }
    &:hover {
        color: #afafaf;
        &:after {
            width: 100%;
            margin: 0 auto;
            background: #afafaf;
        }
    }
}


/*-------------------------------------------------------------------------------*/

.header {
    background: $sec-bg-color;
    border-radius: 0;
    margin: 0px;
    padding-top: 7em;
}

.header-left {
    padding-bottom: 2em;
    &_sub-title {
        letter-spacing: 1px;
    }
    &_title {
        font-size: 4.5em;
        font-weight: bold;
        margin: 1rem 0rem;
    }
}

.header-btn {
    margin: 1em 0em;
    display: inline-block;
}


/*------------------------------------------*/

.about {
    padding: 8em 0em;
}

.about-header {
    @include section-header;
}

.about-details {
    h4 {
        font-size: 2.3em;
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        font-weight: 400;
    }
}


/*--------------------------------------------------*/

.skill-bar {
    margin-top: 3em;
}

.single-bar h6 {
    font-weight: bold;
}

.barfiller {
    width: 100%;
    height: 7px;
    background: #c8c8c8;
    border-radius: 50px;
    position: relative;
    margin: 1em 0em 2em 0em;
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #484848;
    z-index: 1;
    border-radius: 50px;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    font-size: 15px;
    color: #a3a3a3;
    font-weight: bold;
    left: 0px;
    top: -30px;
    position: absolute;
    &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: -6px;
        border-radius: 50%;
        top: 23px;
        background: #484848;
        display: block;
        border: 5px solid #a3a3a3;
    }
}


/*------------------------------------------*/

.experience {
    background: $sec-bg-color;
    padding: 8em 0em;
}

.experience-header {
    @include section-header;
}

.single-experience {
    display: flex;
    justify-content: space-around;
}

.single-experience-left {
    h4 {
        font-size: 1.5em;
        margin-right: 1rem;
        font-weight: bold;
        width: 100px;
        span {
            font-size: 11px;
        }
    }
}

.single-experience-right {
    padding-left: 20px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 1px;
        left: -1px;
        top: 23px;
        height: 80%;
        border-left: 3px dotted #000;
    }
    h3 {
        font-size: 2em;
        font-weight: 500;
        line-height: 1.7rem;
        position: relative;
        font-weight: bold;
        color: $h-color;
        &:before {
            content: "\f058";
            position: absolute;
            font-family: FontAwesome;
            left: -28px;
            font-size: 25px;
            z-index: 1;
        }
    }
}


/*------------------------------------------------*/

.portfolio {
    padding: 8em 0em;
}

.portfolio-header {
    @include section-header;
}

.grid-sizer,
.grid-item {
    width: 100%;
    padding: 10px;
    vertical-align: center;
    border-radius: 10px;
    img {
        border-radius: 3px;
    }
}

.button-group {
    button {
        color: $text-color;
        cursor: pointer;
        font-size: 1.6em;
        letter-spacing: 0.22px;
        margin: 0px 20px;
        font-weight: 400;
        line-height: 1.8rem;
        position: relative;
        text-transform: uppercase;
        border: none;
        background: none;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background: $h-color;
            top: 12px;
            transition: all .5s ease;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}


/*----------------------------------------------*/

.service {
    padding: 8em 0em;
    background: $sec-bg-color;
}

.service-header {
    @include section-header;
}

.single-service {
    padding: 5em 2em;
    box-shadow: 0 3px 20px rgba(5, 5, 6, 0.10);
    margin-bottom: 2em;
    transition: all .3s ease;
    border-radius: 5px;
    &:hover {
        box-shadow: 0px 5px 10px #b7b7b7;
        i {
            background: $h-color;
            color: #fff;
        }
    }
    span {
        i {
            width: 2em;
            height: 2em;
            line-height: 2em;
            text-align: center;
            display: inline-block;
            border: 1px solid #a9a9a9;
            font-size: 2em;
            border-radius: 50%;
            transition: all .5s ease;
        }
    }
    h4 {
        font-size: 1.8em;
        margin-top: 1.4rem;
    }
}


/*--------------------------------*/


/*--------------------------------------*/

.testimonial {
    padding: 8em 0em;
}

.testimonial-header {
    @include section-header;
}

.carousel-item {
    margin-top: 7em;
    background: $sec-bg-color;
    height: 300px;
    border-radius: 10px;
    img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -47px;
        border: 5px solid #e8e8e8;
        border-radius: 50%;
        z-index: 5;
        overflow: visible;
    }
    h4 {
        padding-top: 3em;
    }
    h5 {
        font-size: 1.8em;
    }
    .blockquote {
        font-size: 1.6em;
        line-height: 1.7rem;
        margin: 1em 2em 2em 2em;
    }
}

.carousel-indicators {
    li {
        background: $sub-h-color;
    }
}

.carousel-indicators .active {
    background-color: $h-color;
}


/*------------------------------------*/

.blog {
    padding: 8em 0em;
    background: $sec-bg-color;
}

.blog-header {
    @include section-header;
}

.card {
    background: #f5f5f5;
    margin-bottom: 3em;
    &:hover {
        background: #fff;
        box-shadow: 1px 3px 10px #d6d6d6;
    }
}

.card-body {
    display: flex;
    justify-content: space-between;
    color: $text-color;
}

.card-text-left {
    flex: 1 1 50%;
    span {
        float: left;
        i {
            font-size: 1.5em;
        }
    }
    p {
        margin-left: 1.4rem;
        font-weight: 400;
        font-size: 1.3em;
    }
}

.card-text-right {
    span {
        float: left;
        flex: 1 1 50%;
        i {
            font-size: 1.5em;
        }
    }
    p {
        margin-left: 20px;
        font-weight: 400;
        font-size: 1.3em;
    }
}

.card-footer {
    display: flex;
    justify-content: space-between;
    h4 {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 7px;
    }
    span {
        cursor: pointer;
        i {
            width: 2em;
            height: 2em;
            background: #f3f3f3;
            line-height: 2em;
            display: block;
            box-shadow: 0px 2px 7px #bdbcbc;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5em;
            &:hover {
                background: $h-color;
                color: #fff;
            }
        }
    }
}


/*-------------------------------------*/

.contact {
    padding: 8em 0em;
}

.contact-header {
    h2 {
        font-size: 3.2em;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0rem 0rem 3rem 0rem;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 44px;
            height: 2px;
            background: #bcbcbc;
            top: 55px;
            left: 22px;
            transform: translateX(-50%);
        }
        &:after {
            position: absolute;
            content: "";
            width: 80px;
            height: 2px;
            background: #bcbcbc;
            top: 60px;
            left: 40px;
            transform: translateX(-50%);
        }
    }
}

.phone {
    span {
        i {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: 1px solid $text-color;
            line-height: 1.8em;
            text-align: center;
            font-size: 2em;
            color: $text-color;
            margin: 10px 1em 0em 0em;
        }
    }
}

.email {
    @extend .phone;
}

.location {
    @extend .phone;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
    outline: none;
}

.contact-form input.form-control {
    border: none;
    border-bottom: 1px solid $text-color;
    border-radius: 0px;
}

.contact-form textarea.form-control {
    border: 1px solid $text-color;
}

.footer-social-link {
    ul {
        li {
            a {
                font-size: 3em;
                color: #000;
                margin: 0em .5em;
                color: $h-color;
            }
        }
    }
}


/*-----------------------------------------------------------*/

@import "responsive";