// Small Device

@media (min-width: 576px) {
    .grid-sizer, .grid-item{
        width:50%;
        padding:10px;
        margin-bottom:10px;
        vertical-align: center;
        border-radius: 10px;
        img{
            border-radius: 3px;
        }
    }
}






// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header-left{
     margin-top:10em;
    }

    .header-left_title{
        font-size: 60px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header-left {
        margin-top: 20em;
    }
    .header-left_title {
        font-size: 80px;
    }

    .grid-sizer, .grid-item{
        width:33.33%;
        padding:10px;
        vertical-align: center;
        border-radius: 10px;
        img{
            border-radius: 3px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .p-ud {
        padding: 10em 0em;
    }
}