@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .m-top-9 {
        margin-top: 10em !important;
    }
    .personal-info-inner h2 {
        font-size: 60px;
    }
    .personal-info-inner p {
        margin: 1em 0em 2em 0em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .m-top-27 {
        margin-top: 20em !important;
    }
    .personal-info-inner h2 {
        font-size: 80px;
    }
    .personal-info-inner p {
        margin: 1em 0em 3em 0em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .p-ud {
        padding: 10em 0em;
    }
}